/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  color: var(--main-text-color);
  line-height: 1.3;
}

.header {
  background-image: var(--cover-background-img);
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: start;
  padding: 10px;
  min-inline-size: 375px;
  min-block-size: 100dvh;
}

.header__theme-menu-list {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--theme-menu-color);
  background-color: transparent;
  line-height: 1;
  text-transform: lowercase;
  border: none;
  outline: none;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--theme-menu-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 83%;
  color: var(--title-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.accent__text {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  
}

.subtitle {
  font-weight: bold;
}
