/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  width: 100%;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  color: var(--main-text-color);
  line-height: 1.3;
  background-color: var(--background-color);
  background-image: var(--cover-background-img);
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}

.decorated-zone::before {
  content: '' ;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  justify-self: self-end;
  align-self: self-start;
  border-top: 1px solid var(--angle-color);
  border-right: 1px solid var(--angle-color);
}

.decorated-zone:after {
  content: '' ;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  justify-self: self-start;
  align-self: self-end;
  border-left: 1px solid var(--angle-color);
  border-bottom: 1px solid var(--angle-color);
}

.header__record-marker {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.39;
}

.header__record-marker::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);

}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-content: start;
  padding: 10px;
  min-block-size: 100dvh;
  width: 100dvw;
}

.header__theme-menu-list {
  justify-self: self-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--theme-menu-color);
  background-color: transparent;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  border: none;
  outline: none;
  min-inline-size: 70px;
  min-block-size: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--theme-menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme-menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--theme-menu-color);
  pointer-events: none;
  cursor: default;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 83%;
  color: var(--title-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.accent__text {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.subtitle {
  font-weight: bold;
}

.section {
  padding: 40px 10px 10px;
  display: grid;
  gap: 20px;
}

.section__title {
  font-weight: bold;
  color: var(--accent-color);
}

.section__list {
  display: grid;
  gap: 20px;
}

.section__subtitle {
  margin-bottom: 10px;
}

.section__text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.section__text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__text-link:focus {
  border: none;
  outline: none;
}

.section__text-link:focus-visible {
  border: none;
  outline: 1px solid var(--main-text-color);
}

.section-galery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.section-galery__list {
  display: grid;
  gap: 10px;
}

.section-galery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.footer {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  height: 100dvh;
  align-items: center;
  min-inline-size: 100dvw;
  padding: 10px;
}

.footer__title {
  grid-row-start: 1;
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color)
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__record-marker {
    top: 20px;
    right: 29px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
  }

  .header__theme-menu {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-right: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header__title {
    grid-column: 1 / span 2;
    grid-row-start: 2;
  }

  .header__subtitle {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: end;
    margin-right: 20px;
  }

  .section {
    padding: 60px 20px 20px;
    max-inline-size: 100dvw;
  }

  .section-why,
  .section-how {
    grid-template-columns: 1fr 2fr;
  }

  .section-what .section__title {
    max-inline-size: 30%;
  }

  .section-how .section__title {
    grid-row: 1 / span 2;
  }

  .section-how .subtitle,
  .section-how .section__list {
    grid-column-start: 2;
  }

  .section-galery {
    padding-bottom: 30px;
    gap: 20px;
  }

  .section-galery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.26fr 0.31fr 0.43fr;  /*Пропорция для галереи, т.к. строки не равны */
    gap: 20px;
  }

  .section-galery__list-item:has(.image-horizon) {
    grid-column: 1 / span 2;
  }

  .section-galery__list-item:has(.image-icecream) {
    grid-column: 3 / -1;
    grid-row: 1 / span 2;
  }

  .section-galery__list-item:has(.image-tape) {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  .section-galery__list-item:has(.image-books) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section-galery__list-item:has(.image-street) {
    grid-column: 2 / span 2;
    grid-row: 3 / -1;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / span 2;
    grid-row-start: 1;
    justify-self: center;
    align-self: start;
    margin-right: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section-what {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-what .section__title {
    max-inline-size: 100%;
  }

  .section-what .section__list {
    grid-row-start: 2;
    grid-column: 1 / span 3;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-what__list-item:has(.multitasking) {
    grid-column: 1 / span 1;
  }

  .section-what__list-item:has(.eat) {
    grid-column: 2 / span 1;
  }

  .section-what__list-item:has(.devices) {
    grid-column: 3 / span 1;
  }
}